<div class="container">
    <form
        class="form-horizontal"
        autocomplete="off"
        #editRoleForm="ngForm"
        (ngSubmit)="save()">

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Product">
              {{ "Product" | localize }}
            </label>
            <div class="col-md-9">
                <ng-select [items]="Product"
                            (change)="onProductSelected($event)"
                            bindLabel="name"
                            required="required"
                            name="Name"
                            bindValue="id"
                            placeholder="Select an item"
                            [(ngModel)]="addProductMain.productId">
                </ng-select>
            </div>
        </div>

        <div *ngIf="productQuantity !== undefined">
            <div class="card bg-info">
              <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <div class="col-11">
                        <h5 class="card-title"> <strong>Producto:</strong>  {{ selectedProduct }} </h5>
                        <p class="card-text"> <strong>Cantidad:</strong> {{ productQuantity }}</p>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Quantity">
              {{ "Quantity" | localize }}
            </label>
            <div class="col-md-9">
                <input
                  type="number"
                  class="form-control"
                  name="quantity"
                  id="quantity"
                  min="1"
                  required="required"
                  [(ngModel)]="addProductMain.quantity"
                  #quantityModel="ngModel"
                  #quantityEl
                />
                <abp-validation-summary
                  [control]="quantityModel"
                  [controlEl]="quantityEl"
                ></abp-validation-summary>
              </div>
        </div>
        <abp-modal-footer
        [cancelDisabled]="saving"
        [saveDisabled]="!editRoleForm.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"
      ></abp-modal-footer>
    </form>
  </div>
