<form
  class="form-horizontal"
  autocomplete="off"
  #editRoleForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditProduct' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="Product.name"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="description">
              {{ "description" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="description"
                id="description"
                required
                minlength="2"
                maxlength="32"
                [(ngModel)]="Product.description"
                #descriptionModel="ngModel"
                #descriptionEl
              />
              <abp-validation-summary
                [control]="descriptionModel"
                [controlEl]="descriptionEl"
              ></abp-validation-summary>
            </div>
          </div>

          <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="price">
                {{ "price" | localize }}
              </label>
              <div class="col-md-9">
                <input
                  type="number"
                  class="form-control"
                  name="price"
                  id="price"
                  phone
                  minlength="2"
                  maxlength="32"
                  [(ngModel)]="Product.price"
                  #priceModel="ngModel"
                  #priceEl
                />
                <abp-validation-summary
                  [control]="priceModel"
                  [controlEl]="priceEl"
                ></abp-validation-summary>
              </div>
            </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editRoleForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
